.page{background-color:#fff;box-shadow:0 200px #fff}
.unlogin .page{min-height:500px;min-height:calc(100vh - 8.75rem)}.login .page,.page.login {min-height: 556px;min-height: calc(100vh - (84rem / 16))}
.content{padding-bottom:.1px;background-color:#f6f7f9}
.header{position:relative;box-sizing:border-box;height:2.75rem;padding-top:.6875rem;padding-bottom:.625rem;border-bottom:1px solid #f0f1f2;background-color:#fff}
.header-index{border-bottom:none;background:0 0}
.logo-a{position:absolute;top:0;bottom:0;left:0;width:5.625rem;padding:0 1rem}
.logo{font-size:1rem;position:absolute;top:0;bottom:0;width:inherit;height:1.125rem;margin:auto;color:transparent;background:url(http://qidian.gtimg.com/qdm/img/logo-qdm.0.1.svg) no-repeat center;background-size:100%}
.btn-group{display:table;width:100%;margin-left:auto;margin-right:auto;table-layout:fixed}
.btn-group-small{width:auto}
.header .btn-group-small{margin-top:-2px}
.btn-group-cell{font-size:100%;font-weight:400;display:table-cell}
.btn-tab{font-size:.8125rem;line-height:1.6875rem;display:block;padding:0 .5rem;text-align:center;color:#ed424b;border:1px solid #ed424b}
.btn-tab.active{color:#fff;background-color:#ed424b}
.btn-group-small .btn-tab{line-height:1.5rem;padding:0 .75rem}
.btn-group-cell:first-child>.btn-tab{border-radius:4px 0 0 4px}
.header-operate{position:absolute;top:0;right:0;bottom:0;padding:.25rem .375rem}
.header-operate-a,.header-operate>.icon{float:left;overflow:hidden;width:2.25rem;height:2.25rem}
.header-operate svg{display:block;margin:.625rem auto}
.icon>svg,svg.icon{width:1em;height:1em;vertical-align:-.25ex;fill:currentColor}
.header-avatar{display:block;width:1.25rem;height:1.25rem;margin:.5rem auto;border-radius:1rem}
.slide-container{position:relative;overflow:hidden;height:7rem;height:calc(.314 * (100vw - 1.5rem));margin:0 .75rem}
.slide-ul{position:absolute;top:0;left:0;width:100%;height:100%;white-space:nowrap}
.slide-a{display:block;overflow:hidden;height:100%;color:transparent}
.slide-img{display:block;width:100%;height:100%;height:calc(100% + 25.1897%);margin-top:calc(-.1106667 * .314 * (100vw - 1.5rem))}
.slide-li{position:relative;display:inline-block;width:100%;height:100%;vertical-align:top}
.search-guide{font-size:.8125rem;line-height:2rem;display:block;margin:.375rem .75rem;text-align:center;color:#969ba3;border-radius:.25rem;background:#fff}
.search-gudie .icon-find{margin-right:.3125rem}
.home-nav{display:flex;display:-webkit-box;display:box;margin:.375rem 0;padding:.75rem .625rem;background-color:#fff;justify-content:space-between;-webkit-box-pack:justify;box-pack:justify}
.home-nav .guide-nav-a{display:block}
.guide-nav-a>.icon{position:absolute;left:0;right:0;margin:auto;bottom:1.625rem}
.guide-nav-h{position:absolute;right:0;left:0;bottom:.1875rem}
.icon-account{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:-63px 0;width:24px;height:24px}
.icon-end{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:0 -60px;width:20px;height:27px}
.icon-free{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:0 -30px;width:26px;height:26px}
.icon-god{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:-30px -30px;width:26px;height:26px}
.icon-home{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:-31px 0;width:28px;height:25px}
.icon-rank{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:0 0;width:27px;height:26px}
.icon-sort{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-position:-63px -28px;width:24px;height:24px}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.icon-account{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
.icon-end{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
.icon-free{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
.icon-god{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
.icon-home{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
.icon-rank{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
.icon-sort{background-image:url(http://qidian.gtimg.com/qdm/icon/common/sprite.0.1.png);background-size:87px 87px}
}
.home-pure-ad{padding:0 1rem}
.module-ad{position:relative;display:block;overflow:hidden;margin:.75rem 0;padding:7.575757% 50%}
.module-ad>img:only-child{position:absolute;top:0;left:0;width:100%;height:100%}
.module{margin:.75rem 0;background:#fff}.module-merge{margin: 0px;}
.module-header{height:1.75rem;padding:0 1rem;border-top:1rem solid transparent}
.module-header-l{float:left}
.module-title{font-weight:400;display:inline;color:#33373d}
.module-header-r{position:relative;float:right;min-width:4rem}
.module-title::before{display:inline-block;box-sizing:border-box;width:.625rem;height:1em;content:'';vertical-align:-.22ex;color:transparent;border-left:2px solid #ed424b}
.module-title-desc{font-size:.8125rem;margin-left:.5rem;color:#969ba3}
.module-slide-ol:only-child{display:block}
.module-slide-ol:not(.WX){-webkit-overflow-scrolling:touch}
.module-slide-ol{position:relative;display:none;overflow-x:auto;overflow-y:hidden;min-height:10.75rem;padding-left:.5rem;white-space:nowrap}
.module-slide-li{display:inline-block;vertical-align:top;white-space:normal}
.module-slide-a{display:block;width:4.125rem;padding:.75rem .5rem .5rem}
.module-slide-img{display:block;width:inherit;height:5.5rem;box-shadow:0 1px 3px rgba(0,0,0,.3)}
.module-slide-caption{font-size:.8125rem;line-height:1.25;overflow:hidden;max-height:2.125rem;margin:.5rem 0 .125rem}
.module-slide-author{font-size:.75rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#969BA3}
.module-header-btn{font-size:.875rem;line-height:1.5rem;position:absolute;top:-.5rem;right:-.75rem;padding:.5rem .5rem .5rem .75rem;white-space:nowrap;color:#969ba3}
.module-header-btn .icon-arrow-r{margin-left:.25rem}
.module-tab{margin:.4375rem 1rem}
.corner,.corner-rank{font-size:10px;position:absolute;overflow:hidden;width:30px;height:30px;text-align:center;}
.coner>em,.corner-rank>em{font-size:10px;line-height:11px;position:absolute;padding-top:1px;color:#fff;background:#ED424B;transform-origin:left bottom;transform:rotate(-45deg);right:-12px;left:0;bottom:0}
.corner-rank::after{position:absolute;top:0;left:0;width:10px;height:9px;content:'';background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEwIDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHBhdGggZD0iTTIuMDcgMi40ODdjLS4wMzktLjI3LjE2LS40NTQuNDE3LS40MTdMNS41IDIuNSA1Ljg3OS45ODRjLjA2Ny0uMjY3LjI3OC0uMzI3LjQ3LS4xMzZMOCAyLjUgMi41IDggLjg0OCA2LjM0OGMtLjE5Mi0uMTkyLS4xMzQtLjQwMi4xMzYtLjQ2OUwyLjUgNS41bC0uNDMtMy4wMTN6IiBmaWxsPSIjRkZGIi8+PHBhdGggZD0iTTMuNSA5TDkgMy41IiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvZz48L3N2Zz4K);background-size:100%}
.corner-rank>em{font-size:9px;font-weight:700;line-height:10px;padding-top:14px;text-transform:uppercase}
.module-field{overflow:hidden;padding:0 .5rem}
.module-field-cell{float:left;box-sizing:border-box;width:50%;padding:.5rem}
.module-field-img{display:block;width:100%;height:calc(66rem/16);object-fit:cover}
.time{display:inline-block}
.module-title+.time{margin-left:.25rem}
.time-day,.time-hour,.time-minute,.time-second{font:400 .625rem/.872rem 'DIN Alternate';position:relative;display:inline-block;width:.875rem;margin-right:5px;padding-top:.0625rem;text-align:center;vertical-align:middle;color:#fff;border-radius:2px;background-color:#33373d}
.time-hour::before,.time-minute::before,.time-second::before{position:absolute;top:0;bottom:0;left:-3px;margin:auto;content:'';background-color:#969ba3;box-shadow:0 5px #969ba3;transform:translateY(-3px);width:1px;height:2px}
.time-day{background-color:#ed424b}
.btn-group-cell:first-child>.btn-tab{border-radius:4px 0 0 4px}
.btn-group-cell+.btn-group-cell>.btn-tab{border-left:0}
.btn-group-cell:last-child>.btn-tab{border-radius:0 4px 4px 0}
.home-btn-line-x{margin:1rem}
.btn-group .btn-line{display:block;margin:0 .5625rem}
.btn-line,.btn-line-gray.active,.btn-line-gray~i.active:empty,.btn-tag.active{color:#ED424B}
.btn-line,.btn-line-gray,.btn-line-gray~i:empty,.btn-tag{font-size:.8125rem;line-height:1.6875rem;display:inline-block;padding:0 .625rem;text-align:center;border:1px solid;border-radius:99px}
.char-dot{font-family:Georgia,Helvetica,Arial;padding:0 .5ch}
.btn-group-cell:first-child>.btn-line{margin-left:0}
.btn-group-cell:last-child>.btn-line{margin-right:0}
.book-layout{position:relative;display:block;overflow:hidden;padding:1rem;-webkit-transition:padding-left .15s;transition:padding-left .15s}
.book-cover{font-size:0;float:left;width:4.125rem;height:5.5rem;margin-right:.5rem;box-shadow:0 1px 3px rbga(0,0,0,.3)}
.book-cell{overflow:hidden}
.book-title{line-height:1.4;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.book-desc{font-size:.875rem;line-height:1.125rem;overflow:hidden;margin:.375rem 0;color:#969BA3}
.book-ol-normal .book-desc,.book-ol-time .book-desc{display:-webkit-box;line-height:1.1875rem;height:2.25rem;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.book-meta{font-size:.75rem;overflow:hidden}
.book-meta-l{float:left}
.book-author{font-size:.8125rem;display:block;overflow:hidden;max-width:10em;max-width:calc(100vw-2rem-(176rem-16));white-space:nowrap;text-overflow:ellipsis;color:#969BA3}
.book-autor .icon-human{font-size:.75rem;margin-right:.1875rem;vertical-align:-.15ex}
.book-meta-r{position:relative;float:right}
.tag-small-group{display:inline-block}
.tag-small-group,:not(.tag-small-group)>.tag-small,:not(.tag-small-group)>.tag-solid{-webkit-transform:scale(.5);transform:scale(.5)}
.origin-right,.origin-right .tag-small,.origin-right .tag-solid{-webkit-transform-origin:right center;transform-origin:right center}
.book-meta-r .tag-small-group{position:absolute;top:-.375rem;right:0;white-space:nowrap}
.tag-small,.tag-solid{font-size:1.25rem;line-height:1.5;display:inline-block;margin:0 .15rem;padding:0 .25rem;-webkit-transform:scale(1);transform:scale(1);vertical-align:bottom}
.tag-small-group>.tag-small:first-child,.tag-small-group>.tag-solid:first-child{margin-left:0}
.tag-small::before,.tag-solid::before{position:absolute;z-index:-1;top:-1px;right:0;bottom:1px;left:0;content:'';opacity:.5;border:1px solid;border-radius:.11111em}
.guide{position:fixed;z-index:11;top:2.5rem;right:0;bottom:0;left:0;visibility:hidden;overflow:hidden;transition:visibility .25s;-webkit-transition:visibility .25s}
.active.guide{visibility:visible;transition:none;-webkit-transition:none}
.guide-nav{text-align:center}
.guide-content{position:relative;overflow:hidden;padding:0 1rem;-webkit-transition:transform .15s;transition:transform .15s;-webkit-transform:translateY(-100%);transform:translateY(-100%);background-color:#fff}
.guide-nav-a{font-size:.75rem;position:relative;display:inline-block;width:3.5rem;height:3.625rem;text-align:center}
.guide-nav .guide-nav-a{margin:.75rem 1.5rem}
.guide-nav-a>.icon{position:absolute;right:0;left:0;bottom:1.625rem;margin:auto}
.guide-nav-h{position:absolute;right:0;left:0;bottom:.1875rem}
.guide-overlay{-webkit-transition:opacity .25s;transition:opacity;opacity:0;background-color:#000}
.guide-overlay{position:absolute;top:0;bottom:0;right:0;left:0}
.active>.guide-overlay{opacity:.6}
.active>.guide-content{-webkit-transform:translateY(0);transform:translateY(0)}
.guide-footer{margin-top:1rem;margin-bottom:1.5rem;text-align:center}
.btn-primary{font-size:.875rem;line-height:2.25rem;display:inline-block;padding-right:2ch;padding-left:2ch;text-align:center;color:#fff;border-radius:99px;background-color:#ed224b}
/*search-input*/
.search-pop{position: fixed;z-index: 20;top:0;bottom:0;left: 0;right: 0;background-color: #fff;}
.search-area{position: absolute;top: 0;right: 3.75rem;bottom: 0;left:1rem;height: 2rem;margin: auto;border-radius: .25rem;background-color:#f6f7f9;}
.search-area .icon-search{position:absolute ;top: 0;bottom: 0;left:.5rem;margin: auto;color: #969BA3;}
.search-input {font-size: .875rem;width: 100%;height: inherit;padding: 0 2rem;border: 0 none;background-color: inherit;}
.search-reset{position: absolute;top: 0;right: 0;width: 2rem;height: inherit;padding: 0;-webkit-animation: fadein .15s;animation: fadein .15s;border: 0 none;background: 0 0;}
.search-reset .icon-clear{display: inline-block;width: .875rem;height: .875rem;vertical-align: -.125rem;color: #fff;border-radius: 1rem;background-color: #969BA3;}
.search-reset .icon-clear>svg{display: block;width: .375rem;height: .375rem;margin:.25rem auto 0;}.search-cancel{position:absolute;font-size: .875rem;line-height: 2rem;top:0;right: .25rem;bottom: 0;width: 3.25rem;height: 2rem;margin: auto;text-align: center;background-color: #fff;}
.search-popular{overflow: hidden;}.search-title-bar{line-height:1.8125rem;overflow: hidden;padding: .9375rem 1rem 0;background-color: rgba(0,0,0,.03);}
.search-title{font-size: 13px;font-weight: 400;float: left;color: #969BA3;}.search-tags{padding: .25rem .5rem .75rem 1rem;}
.search-tags .btn-line-gray{margin: .5rem .5rem 0 0;}.btn-line-gray, .btn-line-gray~i:empty, .btn-tag{color: #969BA3;}
.search-list-ul{padding-left: 1rem;}.search-list-li{box-sizing: border-box;height: 3rem;border-bottom: 1px solid #f0f1f2;}
.search-list-a{line-height: 1.4rem;display: block;margin-left: -1rem;padding: .8rem 1rem calc(.8rem - 1px);}
.search-list-l{float: left;}.search-list-l .icon{margin-right: 1rem;color: #969BA3;}.search-value{font-size: .875rem;margin-right: .1875rem;}
.tag-solid{position: absolute;margin-top:-3px;margin-top: calc((1.5rem - 1.5em) * .5);-webkit-transform-origin:left center ;transform-origin: left center;border-radius: 2px;background-color: currentcolor;}
.tag-solid:first-line{color: white;}.noscroll,.noscroll body{overflow: hidden;}.noscroll body {position: relative;}
/*最近阅读*/
.home-recent-read{position: fixed;z-index: 2;right: 0;bottom: 3.75rem;visibility: hidden;padding: 1rem;-webkit-tap-highlight-color: transparent;}
.btn-primary-circle{font-size: .75rem;line-height: 1.16667;display: inline-block;box-sizing: border-box;width:2.75rem;height: 2.75rem;padding: .5rem;text-align: center;color: #fff;border-radius: 99px;background-color: #ED424B;}
/*动画*/
@-webkit-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}
/*detail*/
.page-book-detail .header,.page-book-end .header{z-index: 1;border-bottom: 0;background: 0 0;}
.header-back{position: absolute;top: 0;bottom: 0;left: 0;padding: .625rem .8125rem .625rem .875rem;}
.moudle-merge{margin: 0;}.book-detail-x{position: relative;overflow: hidden;margin-top: -2.75rem;}
.book-cover-blur{position: absolute;top: -13.2rem;top: calc(50% - 87.5vw);width:100%;height: 175vw;opacity: .02;opacity: calc(.1 + .05);-webkit-filter: blur(18px);filter: blur(calc(17px + 1px));}
.book-detail-info{position: relative;padding-top: 2.75rem;background: #fff;background: -webkit-linear-gradient(bottom,#fff,rgba(255,255,255,0) 108px) no-repeat center bottom;background: linear-gradient(to top,#fff,rgba(255,255,255,0) 8rem) no-repeat center bottom;}
.book-detail-x .book-cover{width:5.25rem;height: 7rem;border-radius: 2px;box-shadow:none ;}
.book-detail-info .book-cell{line-height: 1.4rem;}.book-rand-a{font-size: .8125rem;}
.book-rand-a .tag-solid{-webkit-transform: scale(.4);transform: scale(.4);}
.start-group,.start-score{background: 0 center repeat-x;}.book-score{font-size:.75rem ;}.book-score .start-group{margin-right: .5rem;}
.start-group{display: inline-block;overflow: hidden;width: 86px;height: 13px;background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44ODEgMy4yMjZjLjIyLjQzNi42NDguNzM4IDEuMTQxLjgwOGwzLjMyMi40N2EuNTI4LjUyOCAwIDAgMSAuMzAzLjkwNmwtMi40MDQgMi4yOGMtLjM1Ny4zNC0uNTIuODI4LS40MzYgMS4zMDdsLjU2NyAzLjIyYy4wNzcuNDM1LS4zOTEuNzY2LS43OTIuNTYxbC0yLjk3LTEuNTJhMS41NTMgMS41NTMgMCAwIDAtMS40MTIgMGwtMi45NyAxLjUyYy0uNC4yMDUtLjg2OS0uMTI2LS43OTItLjU2bC41NjctMy4yMkExLjQ1MiAxLjQ1MiAwIDAgMCAyLjU3IDcuNjlMLjE2NSA1LjQxYS41MjguNTI4IDAgMCAxIC4zMDMtLjkwNmwzLjMyMS0uNDdjLjQ5NC0uMDcuOTIxLS4zNzIgMS4xNDItLjgwOEw2LjQxNy4yOTZhLjU1My41NTMgMCAwIDEgLjk3OCAwbDEuNDg2IDIuOTN6IiBmaWxsPSJyZ2JhKDAsMCwwLC4yKSIvPjwvc3ZnPg==)}
.star-score{font-size: 12px;display: block;height: inherit;color: transparent;background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44ODEgMy4yMjZjLjIyLjQzNi42NDguNzM4IDEuMTQxLjgwOGwzLjMyMi40N2EuNTI4LjUyOCAwIDAgMSAuMzAzLjkwNmwtMi40MDQgMi4yOGMtLjM1Ny4zNC0uNTIuODI4LS40MzYgMS4zMDdsLjU2NyAzLjIyYy4wNzcuNDM1LS4zOTEuNzY2LS43OTIuNTYxbC0yLjk3LTEuNTJhMS41NTMgMS41NTMgMCAwIDAtMS40MTIgMGwtMi45NyAxLjUyYy0uNC4yMDUtLjg2OS0uMTI2LS43OTItLjU2bC41NjctMy4yMkExLjQ1MiAxLjQ1MiAwIDAgMCAyLjU3IDcuNjlMLjE2NSA1LjQxYS41MjguNTI4IDAgMCAxIC4zMDMtLjkwNmwzLjMyMS0uNDdjLjQ5NC0uMDcuOTIxLS4zNzIgMS4xNDItLjgwOEw2LjQxNy4yOTZhLjU1My41NTMgMCAwIDEgLjk3OCAwbDEuNDg2IDIuOTN6IiBmaWxsPSIjRjBDNTNBIi8+PC9zdmc+) ;}
.star-score[data-score='0'],.star-score[data-score='0.0'] {
    width: 0
}

.start-score[data-score='.5'],.star-score[data-score='0.5'] {
    width: 7px
}

.star-score[data-score='1'],.star-score[data-score='1.0'] {
    width: 14px
}

.star-score[data-score='1.5'] {
    width: 25px
}

.star-score[data-score='2'],.star-score[data-score='2.0'] {
    width: 32px
}

.star-score[data-score='2.5'] {
    width: 43px
}

.star-score[data-score='3'],.star-score[data-score='3.0'] {
    width: 50px
}

.star-score[data-score='3.5'] {
    width: 61px
}

.star-score[data-score='4'],.star-score[data-score='4.0'] {
    width: 68px
}

.star-score[data-score='4.5'] {
    width: 79px
}
.book-meta{font-size: .75rem;overflow: hidden;}.book-detail-btn{padding: 0 1rem 1rem;}.header-back+.header-back-title{font-size: .875rem;font-weight: 400;line-height: 1.375rem;position: absolute;left:2.6875rem;overflow: hidden;max-width: 60%;white-space: nowrap;text-overflow: ellipsis;}
.btn-normal{font-size: .8125rem;line-height: 1.875rem;display: inline-block;padding: 0 1rem;text-align: center;border-radius: .125rem;background-color: currentcolor;}
.btn-group-cell>.btn-normal{display: block;width: calc(100% - .6667rem);margin-left: .3333rem;padding: 0;}
.btn-normal.white{box-shadow: inset 1px 0 #e3e4e6,inset 0 1px #e3e4e6,inset 0 -1px #e3e4e6,inset -1px 0 #e3e4e6;}
.btn-normal::first-line{color: #fff;}.btn-normal.white::first-line{color: #33373d;}
.btn-group-cell:first-child>.btn-normal{margin-left: 0;}
.btn-group-cell:last-child>.btn-normal{margin-left: .6667rem;}a.icon-more:empty{position: relative;}
.icon-more:empty::after,.icon-more:empty::before{position: absolute;top: 1.125rem;width:1.125rem;left:50%;margin-top: -1px;margin-left: -.5625rem;-webkit-transition: all .15s;transition: all .15s;border-top:1px solid;content: '';}
a.icon-more:empty::before{height: 4px;-webkit-transform-origin: top center;transform-origin: top center;border-bottom: 1px solid;}
a.icon-more:empty::after{-webkit-transform: translateY(-5px);transform: translateY(-5px);}
.char-dot, .char-pipe{font-family: Georgia,Helvetica,Arial;padding: 0 .5ch;}
.book-summary{font-size: .875rem;line-height: 1.5rem;position: relative;overflow: hidden;max-height: 5.92rem;margin-left: 1rem;padding-right: 1rem;text-align:justify ;border-top: 1rem solid transparent;border-bottom: 1rem solid transparent;box-shadow: 0 1px #F0F1F2,0 -1px #f0f1f2;}
.book-summary.enabled{height: 5.92rem;max-height: none;}
.book-summary-more{position: absolute;right: 1rem;bottom: 0;visibility: hidden;width: 2rem;height: 1.5rem;text-align: right;background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 1rem);background: linear-gradient(to right,rgba(255,255,255,0),#fff 1rem);}
[open]>.book-summary-more{opacity: 1;}.enabled>.book-summary-more{visibility: visible;}
.book-summary-more>.icon-arrow-r{float: right;margin-top: .5rem;-webkit-transition: -webkit-transform .25s;transition: transform .25s;-webkit-transform:rotate(90deg);transform: rotate(90deg);}
[open]>.book-summary-more>.icon-arrow-r{-webkit-transform: rotate(270deg);transform: rotate(270deg);}
.book-status{line-height: 2.75rem;display: block;padding:0 1rem ;}
.book-status .book-meta-r .icon-arrow-r{position: absolute;top: 1rem;right:0 ;color: #969BA3;}
.book-status .book-meta-r{position: relative;max-width: 60%;max-width: calc(100% - (120rem / 16));padding-right: .75rem;}
.book-spt{font-size: 1rem;vertical-align: top;}
a.active.icon-more::before{height: 0;-webkit-transform: translateY(0) rotate(45deg);transform: translateY(0) rotate(45deg);border-bottom: 0;}
a.active.icon-more::after{-webkit-transform:translateY(0) rotate(-45deg);transform:translateY(0) rotate(-45deg);}

/*book-fans*/
.book-fans-me{float: right;width: 25%;border-left: 1px solid #F0F1F2;}
.fans-li{font-size: .8125rem;padding: 1.5rem 0rem 1rem;text-align: center;}
.page-book-detail .module-content::before, .page-book-end .module-content::before{display: block;margin-left: 1rem;content: '';border-top: 1px solid #f0f1f2;}
.fans-cover{width: 2.625rem;height:2.625rem ;vertical-align: bottom;border-radius:3rem ;box-shadow: 0 0 1px rgba(150,155,163,.3);}
.fans-name{margin: .3125rem .25rem 0;}.book-fans-cell{padding: 0 5rem;}
.fans-icon{position: absolute;right:0;bottom: 0;left: 0;margin: auto;}
.icon-fans-1{background-image: url(http://qidian.gtimg.com/qdm/icon/fans/sprite@2x.0.1.png);background-position:-46px -44px;width: 16px;height: 13px;}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
	.icon-fans-1{
		background-image:url(http://qidian.gtimg.com/qdm/icon/fans/sprite@2x.0.1.png);
		background-size: 88px 77px;
	}
}
.tag-honor{font-family:youyuan,'pingfang sc';font-size: .75rem;line-height: 14px;line-height: calc(1rem - 2px);display: inline-block;box-sizing:border-box ;min-width: 2.5rem;height: 1rem;text-align: center;white-space: nowrap;border: 1px solid #fff;border-radius: 40px;background-color: currentcolor;background-image:linear-gradient(to bottom,rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 50%);background-image:-webkit-linear-gradient(top,rgba(255,255,255,.2),rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 50%)}
.book-author-vv .tag-honor, .rel>.tag-honor{position: absolute;bottom: 0;left: 50%;margin-left: -1.25rem;}
.book-pay{position: relative;display: block;padding: .75rem 0 .5rem;text-align: center;}
.book-pay>svg {font-size: 2.25rem;margin-bottom: .125rem;color: #ED424B;}
.book-pay-h{font-size: .75rem;font-weight: 400;line-height: 1.25rem;position: relative;top: .125rem;}
.book-pay-p{font-size: .75rem;-webkit-transform: scale(.8333);transform: scale(.8333);white-space: nowrap;color: #969ba3;}
.page-book-detail .module-header, .page-book-end .module-header{line-height: 1.75rem;display: block;overflow: hidden;padding: .5rem 1rem;border-top: 0;}
.page-book-detail .module-title, .page-book-end .module-title{font-family: inherit;font-weight: 700;}
.book-fans-me{float: right;width: 25%;border-left: 1px solid #f0f1f2;}
.book-fans-cell{padding: 0 .5rem;}
.tag-honor::first-line{color: white;}
.module-ad::after{font-size: 12px;line-height: 1;position: absolute;right: 0;bottom: -1px;padding: 1px;content: '广告';opacity: .6;color: #fff;border: 1px solid;background: rgba(0,0,0,.3);transform: scale(.75) translateY(-3px);}
.mybook-game-ad{position: relative;overflow: hidden;margin:0 1rem;}
.mybook-game-ad .module-ad{margin: 0;}
.module-title-desc{font-size: .8125rem;margin-left: .5rem;color: #969ba3;}
.module-loading{overflow: hidden;height: 200px;}
.book-author-vv{position: relative;float: left;width: 3rem;height: 3rem;margin-right: .75rem;}
.book-ol-comment .book-author-vv{width: 2.625rem;height: 2.625rem;}
.book-meta-comment{font-size: .8125rem;line-height: 1.5rem;color: #969ba3;}
.icon-nice-comment{font-size: 0;position: absolute;width: 1.75rem;height: 1.75rem;color: transparent;background: url(http://qidian.gtimg.com/qdm/img/icon-nice-comment.0.1.png) no-repeat center;background-size:100% ;margin-left: -2.5rem;margin-top: -4px;}
.book-meta-comment .book-meta-r>.icon{margin-left: .25rem;font-size: 1rem;}
.book-comment-time{font-size: .75rem;display: block;clear: both;margin-top: -.125rem;-webkit-transform: scale(.8333);transform: scale(.8333);-webkit-transform-origin:left top ;transform-origin: left top;color: #969ba3;}
.book-comment-p{font-size: .875rem;display: -webkit-box;overflow: hidden;max-height: 2.5625rem;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.book-author-avatar{display: block;width: 100%;height: 100%;border-radius: 50%;box-shadow:  0 0 1px rgba(0,0,0,.1);}
.book-author-vv .tag-honor{position: absolute;bottom: 0;left: 50%;margin-left: -1.25rem;}
.book-meta-comment::after{display: block;content: '';clear: both;}
.book-li::after{display: block;margin-top: -1px;margin-left: 1rem;content: '';-webkit-transition: margin-left; .1s;transition: margin-left; .1s;border-bottom: 1px solid #f0f1f2;;}
.book-ol-comment .book-li::after{margin-left: 4.375rem;}
/*2017/11/21*/
.book-li-more{font-size: .8125rem;line-height:2.75rem ;display: block;text-align: center;color:#969ba3 ;}
.book-li-more[href]{color: #4284ed;}
.book-ol~.book-li-more::before{content:'';display: block;border-top: 1px solid #f0f1f2;}
.book-ol-comment~.book-li-more::before{margin-left: 0;}
.book-comment-p[rows] {position: relative;display: block}
.book-comment-p[rows='2'] {max-height: 2.625rem}
.book-comment-p[rows='3'] {max-height: 3.9375rem}
.book-comment-p[rows='4'] {max-height: 5.25rem}
.book-comment-p[open] {max-height: 30em;-webkit-transition: max-height .25s;transition: max-height .25s}
.book-comment-more {position: absolute;right: 0;bottom: 0;display: none;width: 2em;height: 1.5em;background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 1rem);background: linear-gradient(to right,rgba(255,255,255,0),#fff 1rem)}
.book-layout>.icon-arrow-r {position: absolute;top: 0;right: 1rem;bottom: 0;margin: auto;color: #969ba3}
/*返回顶部*/
.footer-backtop-circle {position: fixed;z-index: 1;right: 1rem;bottom: 1rem;width: 2.75rem;height: 2.75rem;-webkit-transition: opacity .25s,visibility .25s;transition: opacity .25s,visibility .25s;opacity: 0;color: #fff;border-radius: 99px;background-color: rgba(0,0,0,.6)}
.footer-backtop-circle svg {margin: auto}.aside,.aside-overlay,.footer-backtop-circle svg,.full,.guide-overlay {position: absolute;top: 0;right: 0;bottom: 0;left: 0}